@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

.start-screen {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.start-screen__logo {
  /*background-image: url(../../images/logo1.png);*/
  margin: 0 auto 48px;
  width: 282px;
  height: 70px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: logo;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);
}

.start-screen__text {
  margin: 0 auto 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color:  #818C99;
}

.start-screen__button {
  width: 156px;
  height: 36px;
  background: #0B5AA1;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

@keyframes logo {
  0% {
    background-image: url(../../images/logo1.png);
  }
  20% {
    background-image: url(../../images/logo2.png);
  }
  40% {
    background-image: url(../../images/logo3.png);
  }
  60% {
    background-image: url(../../images/logo4.png);
  }
  80% {
    background-image: url(../../images/logo5.png);
  }
  100% {
    background-image: url(../../images/logo6.png);
  }
}

@-webkit-keyframes logo {
  0% {
    background-image: url(../../images/logo1.png);
  }
  20% {
    background-image: url(../../images/logo2.png);
  }
  40% {
    background-image: url(../../images/logo3.png);
  }
  60% {
    background-image: url(../../images/logo4.png);
  }
  80% {
    background-image: url(../../images/logo5.png);
  }
  100% {
    background-image: url(../../images/logo6.png);
  }
}